@import "nullstyle.scss"
@import "ibg.sass"


body.lock
	@media (max-width: 767px)
		overflow: hidden

.obolochka 
	overflow: hidden
	min-height: 100%
	

.container
	max-width: 1130px
	padding: 0px 15px
	margin: 0 auto

@import "header.sass"


.page
	position: absolute
	width: 100%
	height: 100%
	top: 0
	left: 0
	display: flex
	flex-direction: column
	min-width: 0

.main-screen
	flex: 1 0 100%
	position: relative
	&__bg 
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0

.content 


.begin 
	padding: 120px 0
	background: #f7f7f7
	@media(max-width: 1100px)
		padding: 80px 0
	@media(max-width: 930px)
		padding: 60px 0
	@media(max-width: 650px)
		padding: 30px 0
	&__block 

	
	
.block 
	text-align: center
	&__icon 
		img
			max-width: 150px
	&__title 
		color: #353738
		font-size: 20px
		font-weight: 700
		line-height: 20px
		text-transform: uppercase
		letter-spacing: 3.5px
		margin: 0px 0px 15px 0px
	&__text 
		color: #353738
		font-size: 20px
		line-height: 34px
		&_j
			text-align: justify
			font-size: 16px
			line-height: 34px
			&:after
				display: block
				margin: 30px auto  0 auto
				content:''
				width: 50px
				height: 1px
				background-color: #353738
	@media (max-width: 1500px)
		&__text 
			&_j
				&:after
					margin: 15px auto 0px auto

.brands 

	&__rev
		.brands__column
			order: (1)
			&_b
				order: (2)
	&__row 
		display: flex
	&__column 
		flex: 0 1 33.333%
		&_b 
			flex: 0 1 66.667%
	&__item 

	&__last
	&__content 
		padding: 70px 65px 55px 65px
		position: relative
		&:after
			content:''
			position: absolute
			bottom: -10px
			left: 50%
			margin: 0px 0px 0px -10px
			width: 0
			height: 0
			border-left: 10px solid transparent
			border-right: 10px solid transparent
			border-top: 10px solid #fff
	&__image 
		padding: 0px 0px 37.50% 0px
	@media (max-width: 1500px)
		&__content
			padding: 70px 35px 30px 35px
	@media (max-width: 1100px)
		&__last
			.brands__column
				&:nth-child(1)
					order: (2)
				&:nth-child(2)
					order: (1)
				&:nth-child(3)
					order: (3)
		&__row 
			flex-direction: column

.item 
	height: 100%
	display: block
	position: relative
	&__logo 
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		transition-duration: 0.3s
		background-color: rgba(100, 194, 158, 0.3)
		z-index: 2
		opacity: 0
		visibility: hidden
		
	&__image 
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
	&:hover
		.item__logo
			opacity: 1
			visibility: visible
				span
					margin: 10px 0px 0px 0px
					font-size: 14px
					font-weight: 700
					letter-spacing: 2.8px
					text-transform: uppercase
					color: #fff
					
	@media (max-width: 1100px)
		.item__logo
			img 
				max-width: 100px

.slaider //swiper
	text-align: center
	background-color: #f7f7f7
	padding: 120px 0px 60px 0px
	@media(max-width: 930px)
			padding: 60px 0px 30px 0px
	@media(max-width: 630px)
			padding: 30px 0px 30px 0px
	&__body //wrapper


	&__item //slide

	&__icon 
		margin: 0px 0px 35px 0px
		img 
			max-width: 80px
	&__title 
		color: #353738
		font-size: 18px
		font-weight: 700
		margin: 0px 0px 20px 0px
		span 
			font-weight: 300
			color: #848789
	&__text 
		padding: 0 100px
		text-align: center
		color: #848789
		font-size:24px
		font-style: italic
		line-height: 34px
		@media (max-width:1200px)
			padding: 0 80px
		@media(max-width: 930px)
			padding: 15px 30px
		@media(max-width: 630px)
			padding: 0px


	.swiper-button-next::after,
	.swiper-button-prev::after
		color: grey
		font-size: 50px
		@media (max-width: 930px)
			display: none
		
	
	.swiper-pagination
		padding: 0px 0px 20px 0px
		bottom: 0
		&-bullet
			width: 20px
			height: 20px
			line-height: 20px
			font-size: 14px
			background-color: grey

.shop 
	&__body 
		display: flex
	&__column 
		flex: 0 1 16.666%
		&_b 
			flex: 0 1 33.333%
	&__block 
	&__footer
		padding: 75px 0px 
		text-align: center
		background-color: #282f53
	&_btn 
		display: inline-block
		height: 50px
		line-height: 48px
		letter-spacing: 2.8px
		color: #fff
		padding: 0px 60px
		font-size: 14px
		font-weight: 700
		text-transform: uppercase
		border: 1px solid #fff

	@media (max-width:1100px)
		&__body 
			flex-wrap: wrap
		&__column 
			flex: 0 1 50%
			&:first-child
				flex: 1 1 100%
			&:last-child
				flex: 1 1 100%
		&_btn 
			padding: 0px 30px
		&__footer
			padding: 50px 0px 
.block-shop 
	height: 100%
	&__row 
		display: flex
	&__column 
		flex: 0 1 50%
	&__item 
		height: auto
		padding: 0px 0px 50% 0px
		.item__logo
			img 
				max-width: 100px
		&_b
			padding: 0px 0px 200% 0px
		&_l
			padding: 0px 0px 100% 0px

.subform 
	&__body 
		padding: 110px 0
		max-width: 540px
		margin: 0 auto
		text-align: center
	&__logo 
		margin: 0px 0px 35px 0px
	&__lable 
		color: grey
		font-size: 24px
		font-style: italic
		margin: 0px 0px 30px 0px
	&__form 
		display: flex
	&__input 
		flex: 1 1 100%
		padding: 0px 10px
		input
			width: 85%
			height: 68px
			text-align: left
			border: 1px solid #64c29e
			background-color: #fff
			padding: 0px 25px
			color: #929292
			font-size: 20px
			font-style: italic
	&__button 
		flex: 0 0 125px
	&__btn 
		width: 100%
		height: 70px
		color: #fff
		text-transform: uppercase
		font-weight: 300
		line-height: 69px
		background-color: #64c29e
	@media (max-width: 750px)
		&__body 
			padding: 50px 0px
	@media (max-width: 500px)
		&__logo 
			img
				max-width: 160px
		&__form 
			flex-direction: column
		&__input 
			padding: 0px 0px 10px 0px
			input
				padding: 0px 20px

.footer 