@charset "UTF-8";
/*селектор {параметры(свойство и: значение)}*/
/*обнуление оступов, границ*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/**/
*, *:before, *:after {
  -moz-box-sizeing: border-box;
  -webkit-box-sizeing: border-box;
  -box-sizing: border-box;
}

/*убираем линии ободки некоторых браузеров*/
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/*печесление тегов и создание их блочными*/
nav, footer, header, aside {
  display: block;
}

/*обращаясь к html и body применяем к ним параметры, уравнивающие их поведение по отношению к шрифтам и запред самовольно улечичивать  */
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* обращение к тегам и указ наследовать семейство шрифта*/
input, button, textarea {
  font-family: inherit;
}

/*разные доп указаться*/
/*чистка маркерованных списков*/
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*обнуление заголовков*/
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------------------------------*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ibg img {
  display: none;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.obolochka {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1130px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 40px;
}
.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.header__logo {
  position: absolute;
  left: 50%;
  top: -15px;
  z-index: 2;
  transform: translate(-50%, 0px);
}
.header__logo img {
  max-width: 175px;
}
@media (max-width: 767px) {
  .header {
    top: 25px;
  }
}

.menu__list {
  display: flex;
}
.menu__list li {
  position: relative;
  padding: 0px 40px;
}
.menu__list li:nth-child(2) {
  padding: 0px 110px 0px 40px;
}
.menu__list li:nth-child(3) {
  padding: 0px 40px 0px 110px;
}
.menu__list li:after {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #4d4959;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  margin: 0;
}
.menu__list li:nth-child(2):after, .menu__list li:last-child:after {
  display: none;
}
.menu__link {
  color: #4d4959;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
@media (max-width: 767px) {
  .menu__body {
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4d4959;
    padding: 150px 0px 200px 0px;
    transition-duration: 0.8s;
    transform: translate(0px, -100%);
  }
  .menu__body.active {
    transform: translate(0px, 0px);
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__list li {
    padding: 0 0 45px 0;
  }
  .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
    padding: 0 0 45px 0;
  }
  .menu__list li:nth-child(2):after, .menu__list li:nth-child(3):after {
    display: block;
  }
  .menu__list li:last-child {
    padding: 0px 0px 100px 0px;
  }
  .menu__list li:after {
    width: 4px;
    height: 4px;
    background-color: #fff;
    right: 50%;
    top: 50%;
    margin: 6px -2px 0px 0px;
  }
  .menu__link {
    color: #fff;
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    top: 9px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
    transition-duration: 0.3s;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu.active span {
    background-color: #fff;
    transform: scale(0);
  }
  .icon-menu.active span:first-child {
    transform: rotate(45deg);
    top: 9px;
  }
  .icon-menu.active span:last-child {
    transform: rotate(-45deg);
    bottom: 9px;
  }
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.main-screen {
  flex: 1 0 100%;
  position: relative;
}
.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.begin {
  padding: 120px 0;
  background: #f7f7f7;
}
@media (max-width: 1100px) {
  .begin {
    padding: 80px 0;
  }
}
@media (max-width: 930px) {
  .begin {
    padding: 60px 0;
  }
}
@media (max-width: 650px) {
  .begin {
    padding: 30px 0;
  }
}
.block {
  text-align: center;
}
.block__icon img {
  max-width: 150px;
}
.block__title {
  color: #353738;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  margin: 0px 0px 15px 0px;
}
.block__text {
  color: #353738;
  font-size: 20px;
  line-height: 34px;
}
.block__text_j {
  text-align: justify;
  font-size: 16px;
  line-height: 34px;
}
.block__text_j:after {
  display: block;
  margin: 30px auto 0 auto;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #353738;
}
@media (max-width: 1500px) {
  .block__text_j:after {
    margin: 15px auto 0px auto;
  }
}

.brands__rev .brands__column {
  order: 1;
}
.brands__rev .brands__column_b {
  order: 2;
}
.brands__row {
  display: flex;
}
.brands__column {
  flex: 0 1 33.333%;
}
.brands__column_b {
  flex: 0 1 66.667%;
}
.brands__content {
  padding: 70px 65px 55px 65px;
  position: relative;
}
.brands__content:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin: 0px 0px 0px -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
.brands__image {
  padding: 0px 0px 37.5% 0px;
}
@media (max-width: 1500px) {
  .brands__content {
    padding: 70px 35px 30px 35px;
  }
}
@media (max-width: 1100px) {
  .brands__last .brands__column:nth-child(1) {
    order: 2;
  }
  .brands__last .brands__column:nth-child(2) {
    order: 1;
  }
  .brands__last .brands__column:nth-child(3) {
    order: 3;
  }
  .brands__row {
    flex-direction: column;
  }
}

.item {
  height: 100%;
  display: block;
  position: relative;
}
.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  background-color: rgba(100, 194, 158, 0.3);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}
.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}
.item:hover .item__logo span {
  margin: 10px 0px 0px 0px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 1100px) {
  .item {
    height: auto;
    padding: 0px 0px 70% 0px;
  }
  .item .item__logo img {
    max-width: 100px;
  }
}

.slaider {
  text-align: center;
  background-color: #f7f7f7;
  padding: 120px 0px 60px 0px;
}
@media (max-width: 930px) {
  .slaider {
    padding: 60px 0px 30px 0px;
  }
}
@media (max-width: 630px) {
  .slaider {
    padding: 30px 0px 30px 0px;
  }
}
.slaider__icon {
  margin: 0px 0px 35px 0px;
}
.slaider__icon img {
  max-width: 80px;
}
.slaider__title {
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}
.slaider__title span {
  font-weight: 300;
  color: #848789;
}
.slaider__text {
  padding: 0 100px;
  text-align: center;
  color: #848789;
  font-size: 24px;
  font-style: italic;
  line-height: 34px;
}
@media (max-width: 1200px) {
  .slaider__text {
    padding: 0 80px;
  }
}
@media (max-width: 930px) {
  .slaider__text {
    padding: 15px 30px;
  }
}
@media (max-width: 630px) {
  .slaider__text {
    padding: 0px;
  }
}
.slaider .swiper-button-next::after,
.slaider .swiper-button-prev::after {
  color: grey;
  font-size: 50px;
}
@media (max-width: 930px) {
  .slaider .swiper-button-next::after,
.slaider .swiper-button-prev::after {
    display: none;
  }
}
.slaider .swiper-pagination {
  padding: 0px 0px 20px 0px;
  bottom: 0;
}
.slaider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: grey;
}

.shop__body {
  display: flex;
}
.shop__column {
  flex: 0 1 16.666%;
}
.shop__column_b {
  flex: 0 1 33.333%;
}
.shop__footer {
  padding: 75px 0px;
  text-align: center;
  background-color: #282f53;
}
.shop_btn {
  display: inline-block;
  height: 50px;
  line-height: 48px;
  letter-spacing: 2.8px;
  color: #fff;
  padding: 0px 60px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #fff;
}
@media (max-width: 1100px) {
  .shop__body {
    flex-wrap: wrap;
  }
  .shop__column {
    flex: 0 1 50%;
  }
  .shop__column:first-child {
    flex: 1 1 100%;
  }
  .shop__column:last-child {
    flex: 1 1 100%;
  }
  .shop_btn {
    padding: 0px 30px;
  }
  .shop__footer {
    padding: 50px 0px;
  }
}

.block-shop {
  height: 100%;
}
.block-shop__row {
  display: flex;
}
.block-shop__column {
  flex: 0 1 50%;
}
.block-shop__item {
  height: auto;
  padding: 0px 0px 50% 0px;
}
.block-shop__item .item__logo img {
  max-width: 100px;
}
.block-shop__item_b {
  padding: 0px 0px 200% 0px;
}
.block-shop__item_l {
  padding: 0px 0px 100% 0px;
}

.subform__body {
  padding: 110px 0;
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
}
.subform__logo {
  margin: 0px 0px 35px 0px;
}
.subform__lable {
  color: grey;
  font-size: 24px;
  font-style: italic;
  margin: 0px 0px 30px 0px;
}
.subform__form {
  display: flex;
}
.subform__input {
  flex: 1 1 100%;
  padding: 0px 10px;
}
.subform__input input {
  width: 85%;
  height: 68px;
  text-align: left;
  border: 1px solid #64c29e;
  background-color: #fff;
  padding: 0px 25px;
  color: #929292;
  font-size: 20px;
  font-style: italic;
}
.subform__button {
  flex: 0 0 125px;
}
.subform__btn {
  width: 100%;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 69px;
  background-color: #64c29e;
}
@media (max-width: 750px) {
  .subform__body {
    padding: 50px 0px;
  }
}
@media (max-width: 500px) {
  .subform__logo img {
    max-width: 160px;
  }
  .subform__form {
    flex-direction: column;
  }
  .subform__input {
    padding: 0px 0px 10px 0px;
  }
  .subform__input input {
    padding: 0px 20px;
  }
}

.footer {
  background-color: #f7f7f7;
}
.footer__row {
  display: flex;
  padding: 100px 0px;
  align-items: center;
}
.footer__address {
  color: #848789;
  font-size: 14px;
  line-height: 18px;
  flex: 0 1 33.333%;
}
.footer__address p:first-child {
  font-weight: 700;
}
.footer__column {
  display: flex;
  flex: 0 1 33.333%;
  justify-content: center;
}
.footer__column img {
  max-width: 50px;
}
@media (max-width: 1100px) {
  .footer {
    padding: 40px 0px;
  }
}
@media (max-width: 600px) {
  .footer {
    padding: 25px 0px;
  }
  .footer__row {
    flex-direction: column;
    text-align: center;
  }
  .footer__address {
    padding: 0;
  }
  .footer__social {
    margin: 15px 0px;
  }
}

.dev {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__link {
  margin: 0px 7.5px;
}
.social__text {
  color: #848789;
  font-size: 14px;
  font-style: italic;
  padding: 0px 10px 0px 0px;
}